<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<body>
  <div class="container">

    <form class="row g-3" id="<%=match._id%>">
      <% for(var i = 0; i < match.stadium.length; ++i){ %>
        <div class="row">
          <% for(var j = 0; j < match.stadium.width; ++j){ %>
            <% if(seats[i][j]){ %>
              <label style="background-color: red;" class="col" id="<%=i%> <%=j%>" > ( <%= i%> , <%= j%> ) </label>
            <% } else { %>
              <label style="background-color: green;" class="col" id="<%=i%> <%=j%>" > ( <%= i%> , <%= j%> ) </label>
            <% } %>
          <% } %>
        </div>
      <% } %>
      <button type="submit"> Reserve </button>
    </form>

  </div>
  <script type="module" src="/js/reservation.js"></script>
</body>

</html>