<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<div class="card text-center ">
    <div class="card-header">
        <h3>User Info</h3>
    </div>

    <div class="card-body">
        <h5 class="card-title"><%= user.fname %> <%= user.lname %> </h5>
        <br>
        <h5>Email: <%= user.email %> </h5>
        <br>
        <h5>Gender: <%= user.gender %> </h5>
        <br>
        <h5>City of Birth: <%= user.city %> </h5>
        <br>
        <h5>Date of Birth: <%= user.bdate ? user.bdate.toDateString() : "" %> </h5>
        <br>
        
        <br><br>
        
    </div>
    <div class="card-footer text-muted">
        <a href="/admin" class="btn btn-primary">Back</a>
        <a class="delete btn btn-danger" data-doc="<%=user._id%>">Delete</a>
        <%if (!user.authorized) {%> 
            <br><br>
            <a class="update btn btn-info" data-doc="<%=user._id%>">Authorize</a>
        <%}%>
        <%if (user.role == "fan") {%> 
            <a class="update_2 btn btn-info" data-doc="<%=user._id%>">Promote to Manager</a>
        <%}%>

    </div>
</div>

<script>
    const trashcan = document.querySelector("a.delete");
    trashcan.addEventListener('click', (e)=>{
        const endpoint = `/admin/${trashcan.dataset.doc}`;
        fetch(endpoint,{
            method:'DELETE'
        })
        .then((response)=>response.json())
        .then((data)=>window.location.href = data.redirect)
        .catch((err)=>console.log(err));
    });
</script>

<script>
    const trashcan_2 = document.querySelector("a.update");
    trashcan_2.addEventListener('click', (e)=>{
        const endpoint_2 = `/admin/authorize/${trashcan_2.dataset.doc}`;
        fetch(endpoint_2,{
            method:'PATCH'
        })
        .then((response)=>response.json())
        .then((data)=>window.location.href = data.redirect)
        .catch((err)=>console.log(err));
    });
</script>


<script>
    const trashcan_3 = document.querySelector("a.update_2");
    trashcan_3.addEventListener('click', (e)=>{
        const endpoint_3 = `/admin/promote/${trashcan_3.dataset.doc}`;
        fetch(endpoint_3,{
            method:'PATCH'
        })
        .then((response)=>response.json())
        .then((data)=>window.location.href = data.redirect)
        .catch((err)=>console.log(err));
    });
</script>