<%- include("../partials/head.ejs") %>
<%- include("../partials/nav.ejs") %>

<% if (matches.length>0) { %>
    <h2>Current Available Reservations</h2>
    
    <div class="list-group d-flex flex-wrap align-content-center">

        <% matches.forEach(match => { %>
            <% match.reservations.forEach(reservation => { %>
                <div class="d-flex w-100 justify-content-center"">
                    <h4>Seat: <%= reservation.x_i %> | <%= reservation.y_i %></h4>
                </div>
                <a class="update btn btn-danger" data-reservation = "<%=reservation.x_i%> <%= reservation.y_i %> <%= match._id %>" >Cancel</a>
            <% }) %>
        <% }) %>
        </div>
<% } else { %>
    <h3 >There is nothing to display...</h3>
<% } %>
        
<script>
    const trashcan_2 = document.querySelector("a.update");
    trashcan_2.addEventListener('click', (e)=>{
        const endpoint_2 = `/api/reservation/cancel`;
        var res = e.target.getAttribute('data-reservation').split(" ");
        console.log(res);
        const reqbody = {
            'x_i': parseInt(res[0]),
            'y_i': parseInt(res[1]),
            'id': res[2]
        };
        fetch(endpoint_2,{
            method:'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(reqbody)
        })
        .then(res => {
            if (res.ok) {
                window.location.href = '/';
            } else {
                res.json().then (data => {
                    console.log(data);
                });
            }
        })
        .catch(err => console.error(err));
    });
</script>
